/*_____________________Variables/mixins general______________________________*/
$black-border:1px solid black;
$font-opensans:'OpenSans';
$font-exo:'Exo2Bold';
@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
%btn{
  background: #eff3f6;
  font-family: $font-opensans;
  padding: 15px 70px;
  color: #fc3e3f;
  font-size: 18px;
  span{
   /* margin-left: 30px;*/
  }
}
%title{
  font-size: 40px;
  color: #fc3e3f;
  text-align: center;
  font-weight: bold;
 /* padding: 50px 30px 10px 30px;*/
}
%text{
  font-size: 20px;
  text-align: center;
  /*margin: 0 0 20px 0;*/
}
/*_________________________General____________________________________________*/
@font-face {
  font-family: 'MyriadPro';
  src: url(../fonts/MyriadPro/MyriadPro-Regular.otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2Bold';
  src: url(../fonts/Exo2.0-Bold.otf);
}
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: normal;
}
body{
  /*overflow: hidden;*/
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
.centerer{
  max-width: 1170px;
  margin: 0 auto;
  height: inherit;
  position: relative;
  /*border: $black-border;*/
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}
.bigger-ceneterer{
  max-width: 1366px;
  margin: 0 auto;
  height: inherit;
  position: relative;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}
img{
  width: 100%;
  height: auto;
  display: block;
}
/*_________________________________Top block____________________________________*/
$phone-margin-right:50px;
$phone-span-font-size:20px;
.section1,.section2,.section3,.section4,.section5,.section6,.section7{
  background-size: cover;
}
.section1{
  background: url("../img/first-block/bg-image.png") no-repeat center center;
  padding-top: 2%;
}
.first-block{
  font-family: $font-opensans;
  font-weight: bold;
}
.top-section{
  .banner{
    /*margin-top: 65px;*/
    float: left;
  }
  .vk-logo, .phone, .phone-list{
    display: inline-block;
    letter-spacing: normal;
  }
  a{
    color: #ffffff;
    font-size:20px ;
    .vk-logo{
      width:40px;
      height:40px;
      line-height: 40px;
      text-align: center;
      @include border-radius(50%);
      background: #00528f;
    }
  }
  .phone-vk{
    float: right;
    margin-top: 20px;
    letter-spacing: -4px;
    .phone-list{
      border: 8px solid transparent;
      border-top: 10px solid #ffffff;
     /* margin-left: 50px;*/
      vertical-align: bottom;
      position: relative;
      ul{
        $ul-width:250px;
        position: absolute;
        list-style: none;
        text-align: center;
        width: $ul-width;
        left: -($ul-width/2);
        top:10px;
        li{
          margin-top: 20px;
          a{
            font-size: 20px;
          }
        }
      }
    }
    .phone{
      margin-right: $phone-margin-right;
      }
    span{
      font-size: $phone-span-font-size;
      color: #ffffff;
    }
  }
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}
.mid-section{
  float: right;
  width: 500px;
  padding-top: 150px;
  /*margin-right: 100px;
  margin-top: 140px;*/
  .caps-and-bold{
    font-family: $font-exo;
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: bold;
  }
  .guarantee-docs{
    font-size: 22px;
    color: #ffffff;
    font-weight: normal;
    margin-bottom: 40px;
  }
  .more-btn{
    @extend %btn;
    font-weight: bold;
  }
}
.circles{
  /*margin-top: 350px;
  padding-bottom: 90px;*/
 a{
   display: block;
   width:10px;
   height: 10px;
   background: #ffffff;
   margin-bottom: 10px;
   @include border-radius(50%);
   &:last-child{
     margin-bottom: 0;
   }
 }
}
/*________________________________Nav__________________________________________*/
#nav-menu{
  background: #eff3f6;
  width: 100%;
  ul{
    letter-spacing: -4px;
    text-align: center;
    li,a{
      display: inline-block;
      letter-spacing: normal;
    }
    li{
      list-style: none;
    }
    a{
      color: #000000;
     /* padding: 30px 25px;*/
      font-size: 20px;
    }
    .request-btn{
      color: #ffffff;
      background: #f90c17;
      /*padding: 0 35px;*/
      line-height: 50px;
      float: right;
     /* margin-top: 20px;*/
    }
  }
}
#nav-menu.go-bot{
  width: 100%;
  transition: top 1s;
  position: fixed;
  z-index: 3;
  top: calc(100% - 84px);
}
#nav-menu.go-top{
  top:0;
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: top 1s;
}
/*___________________________________Services_________________________________*/
.services {
  .title {
    margin-top: 60px;
  @extend %title
  }
  .text {
  @extend  %text
  }
  .service-blocks {
    /*margin-bottom: 20px;*/
    .more-btn{
      @extend %btn;
      /*padding: 15px 80px;*/
      font-weight: bold;
    }
    .first-sblock, .second-block, .third-block {
      display: inline-block;
      position: relative;
    }
    .fb-content {
      position: absolute;
      width: 300px;
      color: #ffffff;
      top: 0;
      /*margin: 40px;*/
      .bold {
        font-weight: bold;
        line-height: 50px;
      }
      ul{
       /* margin-bottom: 40px;*/
      }
      li {
       /* margin-left: 18px;*/
      }
    }
    .sb-content, .tb-content{
      position: absolute;
      top: 35%;
      text-align: center;
      .block-title{
        font-size: 35px;
        color: #ffffff;
        opacity:0.8;
      }
      .div-button{
       /* margin-top: 115px;*/
      }
    }
  }
}
/*___________________________________Vacancies________________________________*/
%vac-title{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
}
%vac-salary{
  background: #eff3f6;
 /* padding: 10px;*/
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  float: right;
}
%vac-content{
  color: #ffffff;
  /*margin-top: 30px;*/
  font-size: 16px;
}
.vacancies {
  /*padding-bottom: 20px;*/
  .title {
    /*margin-top: 60px;*/
    @extend %title;
  }
  .text {
    @extend %text
  }
  .vac-ib{
    float: left;
    padding: 30px;
    height: 13rem;
  }
  .vac-1{
    background: url("../img/vacancies/1.png") no-repeat;
    width: 40%;
    background-size: cover;
    .vac-info{
      .vac-title {
        @extend %vac-title;
      }
      .vac-salary{
        @extend %vac-salary
      }
    }
    .vac-content{
      @extend %vac-content
    }
  }
  .vac-2{
    background: url("../img/vacancies/2.png") no-repeat;
    width: 20%;
    .vac-info{
      .vac-title {
        @extend %vac-title;
      }
      .vac-salary{
        color: #ffffff;
        background: #222222;
      @extend %vac-salary;
      }
    }
    .vac-content{
      @extend %vac-content
    }
  }
  .vac-3{
    background: url("../img/vacancies/3.png") no-repeat;
    width: 20%;
    .vac-info{
      .vac-title {
        @extend %vac-title;
        color: #000000;
      }
      .vac-salary{
        color: #ffffff;
        background: #ff0000;
        @extend %vac-salary
      }
    }
    .vac-content{
      color: #000000;
      @extend %vac-content
    }
  }
  .vac-4{
    background: url("../img/vacancies/4.png") no-repeat;
    width: 20%;
    .vac-info{
      .vac-title {
        @extend %vac-title;
      }
      .vac-salary{
      @extend %vac-salary
      }
    }
    .vac-content{
      @extend %vac-content
    }
  }
  .vac-5{
    background: url("../img/vacancies/5.png") no-repeat;
    width: 20%;
    .vac-info{
      .vac-title {
        @extend %vac-title;
        color: #000000;
      }
      .vac-salary{
        color: #ffffff;
        background: #ff0000;
        @extend %vac-salary
      }
    }
    .vac-content{
      color: #000000;
      @extend %vac-content
    }
  }
  .vac-6{
    background: url("../img/vacancies/6.png") no-repeat;
    width: 20%;
    .vac-info{
      .vac-title {
        @extend %vac-title;
      }
      .vac-salary{
        color: #ffffff;
        background: #222222;
        @extend %vac-salary;
      }
    }
    .vac-content{
      @extend %vac-content
    }
  }
  .vac-7{
    background: url("../img/vacancies/7.png") no-repeat;
    width: 20%;
    .vac-info{
      .vac-title {
        @extend %vac-title;
      }
      .vac-salary{
        color: #ffffff;
        background: #222222;
        @extend %vac-salary;
      }
    }
    .vac-content{
      @extend %vac-content
    }
  }
  .vac-8{
    background: url("../img/vacancies/8.png") no-repeat;
    width: 40%;
    background-size: cover;
    .vac-info{
      .vac-title {
        @extend %vac-title;
      }
      .vac-salary{
        @extend %vac-salary
      }
    }
    .vac-content{
      @extend %vac-content
    }
  }
}
/*___________________________________Execution terms__________________________*/
%step-number{
  position: relative;
  color: #525252;
  opacity: 0.4;
  font-size: 150px;
  font-weight: bold;
}
%step-ico{
  position: absolute;
  top:20px;
  right:-5px;
}
%step-desc{
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}
.section4{
  background: url("../img/execution/bg.png") no-repeat center center;
  padding-top: 2%;
}
.execution{


  .title {
    padding-top: 140px;
    @extend %title;
  }
  .text {
    @extend  %text;
    color: #9a9a9a;
  }
  .step{
    width: 25%;
    float: left;
  }
  .step-number{
    position: relative;
    color: #464646;
    opacity: 0.7;
    font-size: 150px;
    font-weight: bold;
    text-align: left;
  }
  .step-ico{
    position: absolute;
    left: 55px;
    bottom: -20px;
  }
  .step-desc{
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFF;
    .step-title{
      font-weight: bold;
      font-size: 20px;
      height: 80px;
    }
  }
}
/*___________________________________Feedbacks________________________________*/
.feedbacks {
  .title {
    /*margin-top: 60px;*/
    @extend %title;
  }
  .text {
    @extend %text;
  }
  .counter {
    font-size: 40px;
    text-align: center;
   /* margin-bottom: 40px;*/
  }
  .feedback-wrapper {
    width: 100%;
    height: 100%;
    display: table;
   /* margin-bottom: 40px;*/
    .arrow-left, iframe, .person, .arrow-right {
      display: table-cell;
      vertical-align: middle;
    }
    .arrow-left, .arrow-right {
      cursor: pointer;
      span {
        color: #ff0000;
        font-size: 60px;
        font-weight: bold;
      }
    }
    .arrow-left {
      padding-right: 20px;
    }
    .arrow-right {
      padding-left: 20px;

    }
    .person {
      padding-left: 50px;
     /* margin-right: 80px;*/
      .name {
        font-size: 25px;
        font-weight: bold;
       /* margin-bottom: 10px;*/
      }
      .position {
        font-size: 18px;
      }
      .profile {
        font-size: 18px;
       /* margin-top: 20px;*/
        width: 300px;
        a {
          color: #ffffff;
          font-size: 28px;
          .vk-logo {
            float: right;
            width: 60px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            @include border-radius(50%);
            background: #00528f;
            /*margin-right: 150px;*/

          }
        }
      }
    }
    img{
      width: 200px;
    }
  }
  .write-us{
    text-align: center;
    .text{
      width: 700px;
      /*margin: 0 auto 150px auto;*/
    }
    .name-input, .phone-input{
      input{
        width: 500px;
        padding: 10px 50px;
        color: #c2c2c2;
        border:1px solid #c2c2c2;

      }
    }
    .phone-input{
      /*margin-top: 30px;*/
    }
    .btn-send{
      color: rgb(230, 230, 230);
      font-size: 16px;
      padding: 0 50px;
      line-height: 50px;
      background: #ff0000;
      border: none;
      margin-top: 50px;
      cursor: pointer;
    }
  }
}
/*___________________________________About us_________________________________*/
.section6{
  background: url("../img/about-us/canyon-bg.png");
}
.about-us{

  .title{
    padding-top: 120px;
    @extend %title;
  }
  .text{
    @extend %text;
    color: #ffffff;
  }
  .license1, .license2{
    float: left;
    margin-right: 40px;
    margin-bottom: 40px;
    img{
      width: 100%;
    }
  }
  .about-us-text{
    color: #ffffff;
    .bold{
      font-weight: bold;
    }
    >div{
      margin-bottom: 30px;
    }
  }
}
/*___________________________________Contacts_________________________________*/
.contacts{
  .title{
    padding-top: 10px;
    @extend %title;
  }
  .text{
    @extend %text;
  }
  .map{
    position: relative;
  }
  .address{
    position: absolute;
    width: 50%;
    height: 100%;
    background: #484848;
    opacity: 0.8;
    z-index: 5;
    color: #ffffff;
    text-align: center;
    font-size: 25px;
    top: 0;
    a{
      color: #ffffff;
    }
    .email{
      line-height: 60px;
    }
    .btn-address{
     /* margin-top: 40px;*/
    }
    .firm-name{
     /* margin-bottom: 20px;
      margin-top: 70px;*/
    }
    .more-btn{
      @extend %btn;
    }
  }
  footer{
    .to-top{
      background: #d0d0d0;
      width: 40px;
      height: 40px;
      font-size: 25px;
      text-align: center;
      /*margin-left: 50px;
      margin-top: 10px;
      margin-bottom: 10px;*/
      float: left;
    }
    .all-rights{
      float: right;
      /*margin-right: 50px;
      margin-top: 20px;
      margin-bottom: 10px;*/
      font-size: 18px;
    }
  }
}
footer{
  .to-top{
    background: #d0d0d0;
    width: 40px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    /*margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;*/
    float: left;
  }
  .all-rights{
    float: right;
    /*margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;*/
    font-size: 18px;
  }
}
/*_________________________________________Media______________________________*/
@media screen and (max-width: 1280px){
  .fp-tableCell{
    vertical-align: top;
    height: 100% !important;
  }
  .first-block{
    .circles{
      margin-top: 420px;
    }
  }
  .services{
    .title{
      margin-top: 0;
    }
  }
  .vacancies{
    .title{
      margin-top: -150px;
    }
  }
  .execution{
    margin-top: -340px;
  }
  .feedbacks{
    margin-top: -340px;
    .title{
      margin-top: 0px;
      padding-top: 0;
    }
  }
  .about-us{
    margin-top: -500px;
  }
  .contacts{
    margin-top: -500px;
    .title{
      padding: 0;
      margin: 0;
    }
  }
  footer{
    margin-top: 0px;
  }
}
@media screen and (min-width: 1024px){
 /*hovers*/
  .top-section{
    a{
      .vk-logo:hover{
        background: #0079d2;
      }
    }
  }
  .phone-vk{
    .phone-list{
      &:hover{
        cursor: pointer;
      }
    }
  }
  ul {
    li {
      a {
        &:hover {
          color: #959595;
          text-decoration: underline;
        }
      }
    }
  }
  .mid-section{
      .more-btn{
        &:hover{
          background: #ff353b;
          color: #ffffff;
        }
      }
  }
  .circles{
    a:hover{
      background: #00528f;
    }
  }
  #nav-menu{
    ul{
      a:hover{
        color: #fc3e3f;
        background: #e3e7e9;
      }
      .request-btn:hover{
        background: #ff4a46;
        color: #ffffff;
      }
    }
  }
  .services {
    .service-blocks {
      .more-btn{
        &:hover{
          background: #ff353b;
          color: #ffffff;
        }
      }
    }
  }
  .vacancies {
    .vac-title:hover{
      background: #0079d4;
      padding: 5px;
      opacity: 0.8;
    }
  }
  .feedbacks {
    .profile {
      a{
        .vk-logo:hover {
          background: #0079d2;
        }
      }
    }
  }
  .contacts{
    .address{
      a:hover{
        color: #000e5e;
        text-decoration: underline;
      }
      .more-btn:hover{
        text-decoration: none;
        background: #ff443a;
        color: #ffffff;
      }
    }
  }
}
@media screen and (max-width: 1024px){
  .centerer{
    padding: 0 15px;
  }
  #nav-menu{
    ul{
      a{
        padding: 30px 20px;
        font-size: 18px;
      }
      .request-btn{
        line-height: 40px;
        margin: 20px 0;
      }
    }
  }
  .services{
    .service-blocks{
      .first-sblock, .second-block, .third-block {
        display: block;
        width: 40%;
        left: 30%;
        right: 30%;
        margin-top: 30px;
      }
    }
  }
  .vacancies{
    .title{
      margin-top: -10px;
    }
    .vac-ib{
      padding: 10px;
    }
   .vac-1, .vac-2, .vac-3, .vac-4,.vac-5,.vac-6,.vac-7, .vac-8{
     .vac-info{
       .vac-title{
         font-size: 18px;
       }
       .vac-salary{
         font-size: 14px;
         padding: 4px;
       }
     }
   }
  }
  .execution{
    margin-top: -100px;
    .title{
      padding-top: 50px;
    }
  }
  .feedbacks{
    margin-top: -200px;
    .feedback-wrapper{
      .arrow-left, .arrow-right {
        span {
          font-size: 20px;
        }
      }
    }
  }
  .about-us{
    margin-top: -400px;
    .title{
      padding-top: 50px;
    }
  }
  .contacts{
    margin-top: -450px ;
  }
}
@media screen and (max-width: 768px){
  .top-section{
    .banner{
      width: 35%;
      margin-top: 35px;
    }
    .phone-vk{
      span{
        font-size: 18px;
      }
    }
  }
  .mid-section{
    width: 400px;
    margin-right: 0;
    .caps-and-bold{
      font-size: 25px;
    }
    .guarantee-docs{
      font-size: 18px;
    }
  }
  .first-block{
    .circles{
      margin-top: 290px;
      padding-bottom: 40px;
    }
  }
  #nav-menu{
    ul{
      a{
        padding: 20px 10px;
        font-size: 16px;
      }
      .request-btn{
        line-height: 40px;
        margin: 10px 0;
      }
    }
  }
  .services{
    .title{
      padding: 0;
    }
    .service-blocks{
      .fb-content{
        margin: 10px;
        font-size: 14px;
        ul{
          margin-bottom: 20px;
        }
      }
      .sb-content, .tb-content{
        .block-title{
          font-size: 22px;
        }
      }
      .more-btn{
        padding: 5px 10px;
        font-size: 16px;
        margin: 0 60px;
      }
    }
  }
  .vacancies{
    .vac-ib{
      height: 12rem;
    }
    .vac-1, .vac-2, .vac-3, .vac-4,.vac-5,.vac-6,.vac-7, .vac-8{
      .vac-info{
        .vac-title{
          font-size: 14px;
        }
        .vac-salary{
          font-size: 11px;
          padding: 4px;
        }
      }
      .vac-content{
        font-size: 13px !important;
      }
    }
  }
  .execution{
    margin-top: 0;
    .step-number{
      font-size: 80px;
    }
    .step-ico{
      width: 40%;
      left: 35px;
      bottom: 0;
    }
    .step-desc{
      .step-title{
        font-size: 16px;
        height: 60px;
      }
    }
  }
  .feedbacks{
    margin-top: 0;
    iframe{
      width:350px;
      height: 215px;
    }
    .feedback-wrapper{
      img{
        margin-top: 40px;
      }
      .person{
        padding-left: 10px;
        .position{
          font-size: 15px;
        }
      }
    }
    .write-us{
      .text{
        margin: 0 auto 100px auto;
      }
    }
  }
  .about-us {
    margin-top: 0;
    .license1, .license2 {
      margin: 0 0 20px 80px;
      img {
        width: 80%;
      }
    }
    .about-us-text{
      font-size: 15px;
      float: left;
      margin-left: 180px;
      >div{
        margin-bottom: 10px;
      }
    }
  }
  .contacts{
    margin-top: 20px;
    .address{
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 480px){
  .top-section{
    a{
      .vk-logo{
        width: 40px;
        height: 40px;
        line-height: 40px;
      }
    }
    .banner{
      width: 35%;
      margin-top: 35px;
    }
    .phone-vk{
      margin-top: 35px;
      .phone{
        margin-right: 20px;
      }
      .phone-list{
        margin-left: 20px;
      }
      span{
        font-size: 18px;
      }
    }

  }
  .mid-section{
    width: 100%;
    margin-right: 0;
    text-align: center;
    .caps-and-bold{
      font-size: 20px;
    }
    .guarantee-docs{
      font-size: 16px;
    }
    .more-btn{
      padding: 10px 15px;
      font-size: 15px;
    }
  }
  .first-block{
    .circles{
      padding-bottom: 65px;
    }
  }
  #nav-menu{
    ul{
      a{
        padding: 10px 5px;
        font-size: 12px;
      }
      .request-btn{
        line-height: 20px;
        margin: 5px 130px;
      }
    }
  }
  #nav-menu.go-bot{
    top: calc(100% - 64px);
  }
  .services{
    .title{
      padding: 0;
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    .service-blocks{
      .fb-content{
        margin: 10px;
        font-size: 14px;
        ul{
          margin-bottom: 20px;
        }
      }
      .sb-content, .tb-content{
        .block-title{
          font-size: 20px;
        }
      }
      .more-btn{
        padding: 5px 10px;
        font-size: 14px;
        margin: 0 60px;
      }
    }
    .service-blocks{
      .first-sblock, .second-block, .third-block {
        display: block;
        width: 70%;
        left: 15%;
        right: 15%;
        margin-top: 30px;
      }
      .sb-content, .tb-content {
        left: 5%;
      }
    }
  }
  .vacancies{
    .title{
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    .vac-ib{
      height: 100%;
      float: none;
    }
    .vac-1, .vac-2, .vac-3, .vac-4,.vac-5,.vac-6,.vac-7, .vac-8{
      width: 100%;
      margin-top: 10px;
      background-size: cover;
      .vac-info{
        .vac-title{
          font-size: 14px;
        }
        .vac-salary{
          font-size: 11px;
          padding: 4px;
        }
      }
      .vac-content{
        font-size: 13px;
      }
    }
  }
  .execution{
    .title{
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    margin-top: 0;
    .step-number{
      font-size: 80px;
    }
    .step-ico{
      width: 40%;
      left: 35px;
      bottom: 0;
    }
    .step-desc{
      font-size: 12px;
      .step-title{
        font-size: 14px;
        height: 60px;
      }
    }
  }
  .feedbacks{
    .title{
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    margin-top: -50px;
    iframe{
      width:250px;
      height: 115px;
    }
    .feedback-wrapper{
      display: block;
      text-align: -webkit-center;
      img{
        width: 150px;
      }
      .person{
        padding-left: 10px;
        .name{
          font-size: 18px;
          margin-top: 50px;
        }
        .position{
          font-size: 13px;
          width: 250px;
          text-align: justify;
        }
        .profile{
          font-size: 16px;
          width: 200px;
          a{
            .vk-logo{
              width: 30px;
              height: 30px;
              line-height: 30px;
              margin-right: 5px;
            }
          }
        }
      }
      .arrow-left{
        display: none !important;
      }
      .arrow-right{
        float: right;
        margin-top: -150px;
      }
    }
      .write-us{
        text-align: center;
        .text{
          width: 300px;
          margin: 0 auto 15px auto;
        }
        .name-input, .phone-input{
          input{
            width: 200px;
          }
        }
        .phone-input{
          margin-top: 15px;
        }
        .btn-send{
          font-size: 14px;
          padding: 0 20px;
          line-height: 30px;
        }
      }
  }
  .about-us {
    .title{
      padding: 0;
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    padding-top: 30px;
    .license1, .license2 {
      display: table-cell;
      text-align: -webkit-center;
      float: none;
      img {
        width: 80%;
      }
    }
    .about-us-text{
      font-size: 13px;
    /*  float: left;*/
      margin-left: 20px;
      margin-top: 10px;
      >div{
        margin-bottom: 10px;
      }
    }
  }
  .contacts{
    .title{
      padding: 0;
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    margin-top: 20px;
    .address{
      font-size: 15px;
      .more-btn{
        padding: 5px 20px;
        font-size: 16px;
      }
    }
  }
  footer .all-rights{
    margin: 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 320px){
  .centerer{
    padding: 0 5px;
  }
  #nav-menu{
    ul{
      a{
        padding: 5px 15px;
        font-size: 12px;
      }
      .request-btn{
        line-height: 20px;
        margin: 5px 97px;
      }
    }
  }
  .services{
    .title{
      padding: 0;
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    .service-blocks{
      .fb-content{
        margin: 40px 8px 8px 8px;
        font-size: 12px;
        width:100%;
        ul{
          margin-bottom: 20px;
        }
        .bold{
          line-height: 8px;
        }
      }
      .sb-content, .tb-content{
        .block-title{
          font-size: 20px;
        }
      }
      .more-btn{
        padding: 5px 10px;
        font-size: 14px;
        margin: 0 60px;
      }
    }
    .service-blocks{
      .first-sblock, .second-block, .third-block {
        display: block;
        width: 70%;
        left: 30px;
        right: 30px;
        margin-top: 30px;
        img{
          width:115%;
        }
      }
      .sb-content, .tb-content {
        left: 5%;
        .div-button{
          margin-top: 80px;
        }
      }
    }
  }
  .execution{
    /*.title{
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    margin-top: 0;*/
    .step-number{
      font-size: 80px;
    }
    .step-ico{
      width: 40%;
      left: 35px;
      bottom: 0;
    }
    .step-desc{
      font-size: 12px;
      .step-title{
        font-size: 12px;
        height: 60px;
      }
    }
  }
  .contacts{
    .title{
      padding: 0;
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    margin-top: 20px;
    .address{
      font-size: 15px;
      .more-btn{
        padding: 5px 20px;
        font-size: 10px;
      }
    }
  }
}