.container{
	position: relative;
}

div{
	line-height: 42px;
	text-align: center;
}

.line{
	width: 400px;
	height: 5px;
	margin-top: 50px;
	margin-left: 50px;
	background: #cccccc;
}
.first, .second, .third{
	background: #b2d235;
}

.first{
	position: absolute;
	top: -20px;
	left: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

.second{
	position: absolute;
	top: -20px;
	left: 130px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

.third{
	position: absolute;
	top: -20px;
	left: 230px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

.fourth{
	position: absolute;
	top: -20px;
	left: 330px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background: #ab4a9c;
}

.fifth{
	position: absolute;
	top: -20px;
	left: 430px;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background: #cccccc;
}
