$white: #ffffff;
$grey: #e9e9e9;
$bg-button: #10c9c3;
@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url(../fonts/Montserrat/Montserrat-Medium.ttf)
}
@font-face {
  font-family: 'NunitoSans Regular';
  src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf)
}
/*_______COMMON STYLES________*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
a{
  text-decoration: none;
  color: #000000;
}
li{
  list-style: none;
}
button{
  color: #ffffff;
  background-color: $bg-button;
  padding: 15px 40px;
  border: none;
  font-family: 'Montserrat Medium';
  cursor: pointer;
}
.container {
  max-width:90%;
  margin: 0 auto;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
}
.montserrat-font{
  font-family: 'Montserrat Medium';
}
.nunito-font{
  font-family: 'NunitoSans Regular';
}
.block-title{
  font-size: 30px;
  padding-bottom: 35px;
  text-align: center;
}
.text-in-block{
  font-size: 16px;
  padding-bottom: 35px;
  color: #b7b7b7;
  width: 44%;
  margin: 0 auto;
  text-align: center;
}
.info-block-container, .work-samples, .work-progress, .feedbac1k{
  margin-bottom: 80px;
}
/*_________HEADER___________*/
header{
  background-color: $grey;
  padding: 40px 0;
  &::after{
    content: '';
    display: block;
    clear: both;
  }
  .logo{
    float: left;
  }
  ul{
    float: right;
    letter-spacing: -4px;
    li{
      display: inline-block;
      letter-spacing: normal;
        &:not(:last-child){
        padding-right: 30px;
       }
    }
  }
}
/*_________INFO BLOCK_________*/
.info-block-container{
  background-color: $grey;
  .info-block{
    width: 41%;
    float: right;
    padding: 145px 0;
    .title, .text{
      padding-bottom: 35px;
    }
    .title{
      font-size: 38px;
    }
    .text{
      font-size: 18px;
      color: #b4b4b4;
    }
    .contact-us{
      color: #ffffff;
      background-color: $bg-button;
      border: none;
      font-family: 'Montserrat Medium';
      cursor: pointer;
      width: 166px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      font-size: 14px;
    }
  }
}
/*___________ABOUT US___________*/
.about-us{
  .signature{
    margin: 0 auto 90px auto;
  }
}
/*__________SKILLS________*/
.skills-container{
  background-color: $grey;
  &:after{
    content: '';
    display: block;
    clear: both;
  }
  .skills{
    width:50%;
    float: left;
    background: #f8f9f9;
    padding: 160px 70px 140px 0px;
    position: relative;
    &:after{
      display: block;
      content: '';
      position: absolute;
      height: 100%;
      width: 500px;
      background: #f8f9f9;
      left: -500px;
      top:0;
    }
    .title{
      font-size: 30px;
      padding-bottom: 30px;
    }
    .skills-data{
      .progress-bar{
        position: relative;
        width: 100%;
        height: 5px;
        background: #d8d8d8;
        margin: 15px 0 30px 0;
      }
    }
  }
  .fill{
    background-color: #10c9c3;
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
  }
  .skills-right-block{
    float: right;
    width: 50%;
    height: 574px;
    background-color: $grey;
  }
  .start{
    width: 0px;
    background: #aae0aa;
    -webkit-animation: eighty 2s ease-out forwards;
    -moz-animation: eighty 2s ease-out forwards;
    -ms-animation: eighty 2s ease-out forwards;
    -o-animation: eighty 2s ease-out forwards;
    animation: eighty 2s ease-out forwards;
  }
}
/*___________STATISTIC___________*/
.statistic{
  background-color: #10c9c3;
  .statistic-container{
    width: 25%;
    float: left;
    padding: 80px 0;
    color: $white;
    font-family: 'Montserrat Medium';
    .img{
      float: left;
      margin-right: 25px;
    }
    .quantity{
      margin-bottom: 5px;
    }
    .info{
      font-size: 12px;
      overflow: hidden;
    }
  }
}
/*_____________WORK SAMPLES_________*/
.work-samples{
  .row{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    .sample{
      display: flex;
      width:25%;
      height: 300px;
      float: left;
      background: #dddddd;
    }
    .eye-hover{
      background-position: -3px -157px ;
      width: 48px;
      height: 30px;
      @include vertical-align();
      margin: 0 auto;
      display: none;
    }
  }
  .row1{
    .sample:nth-child(odd){
      background: #838383;
    }
  }
  .row2{
    .sample:nth-child(even){
      background: #838383;
    }
  }
  .row3{
    display: none;
    .sample:nth-child(odd){
      background: #838383;
    }
  }
  .more{
    text-align: center;
    background: #f5f5f5;
    color: #cccccc;
    line-height: 100px;
    cursor: pointer;
    font-family: "Montserrat Medium";
  }
}
/*______________WORK PROCESS________*/
.work-process{
  .container{
    text-align: center;
  }
  iframe{
    width: 90%;
    height: 550px;
    margin-bottom: 80px;
  }
  .video-container{
    position: relative;
  }
  .start-video{
    position: absolute;
    z-index: 33333333333;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    @include border-radius(50%);
    background: #10c9c3;
    cursor: pointer;
    &:after{
      content: '';
      display: block;
      position: absolute;
      left: 42%;
      top: 40%;
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-left: 20px solid #ffffff;
      border-bottom: 10px solid transparent;
    }
  }
}
/*__________TECHNOLOGIES________*/
.services{
  background: #f5f5f5;
  padding-bottom: 80px;
    .service-container{
      width:25%;
      float: left;
      height: 200px;
      text-align: center;
      padding-top: 90px;
      .serv-title{
        text-transform: uppercase;
        font-family: "Montserrat Medium";
        color: #363636;
        font-size: 12px;
        margin-bottom: 10px;
      }
      .serv-text{
        font-family: "NunitoSans Regular";
        color: #c3c3c3;
        font-size: 16px;
      }
      .img{
        margin-bottom: 25px;
      }
    }
}
/*__________REVIEWS_________________*/
.testimonials{
  background: #10c9c3;
  .testimonial-container{
    margin: 0 auto;
    text-align: center;
    padding: 170px 0 130px 0;
    width: 65%;
    .testimonial-author, .testimonial-text{
      font-family: "Montserrat Medium";
      color: #ffffff;
    }
    .testimonial-text{
      font-size: 24px;
      margin-bottom: 30px;
    }
    .testimonial-author{
      font-size: 12px;
    }
  }

  /*___slider style_____*/
  .slick-initialized{
    .slick-slide{
      outline: none;
    }
  }
  .slider{
    width: 65%;
    outline: none;
    margin: 0 auto;
  }
  .slick-dots{
    li{
      button:before{
        top: -80px;
        font-size: 30px;
        color: #b0e8e6;
      }
    }
    li.slick-active{
      button:before{
        font-size: 50px;
        color: #ffffff;
      }
    }
  }
}
/*________CLIENTS_________*/
.clients{
  text-align: center;
  padding: 55px 0;
  .client-logo{
    float: left;
    width: 25%;
  }
}
/*____________FEEDBACK_____________*/
.feedback{
  background: #f5f5f5;
  padding: 80px 0;
  form{
    width:59%;
    margin: 0 auto;
    text-align: center;
    .contact-info, .message-title, .message-text{
      margin-bottom: 25px;
      input, textarea{
        border: none;
        padding: 15px;
        @include placeholder{
          font-family: "NunitoSans Regular";
        }
        &:focus{
          @include placeholder{
            opacity: 0;
            transition: opacity 1s ease;}
        }
      }
    }
    .contact-info{
      display: flex;
      justify-content: space-between;
      flex-direction: row;
        input{
          width: 46%;
          &:not(:last-child){
           /* margin-right: 25px;*/
          }
        }
      }
    .message-title{
      input{
        width: 100%;
      }
    }
    .message-text{
      textarea{
        width: 100%;
        height: 160px;
        resize: none;
      }
    }
  }
}
/*___________FOOTER____________*/
footer{
  background: #141414;
  color: #9b9b9b;
  padding:70px  0;
  font-family: "NunitoSans Regular";
  font-size: 15px;
  a{
    color: #9b9b9b;
  }
  .copyright, .contact-info, .menu{
    float: left;
  }
  .copyright{
    width: 35%;
    .comp-name{
      font-family: "Montserrat Medium";
      font-size: 18px;
      margin-bottom: 15px;
      color: #f0d6d6;
    }
  }
  .contact-info{
    width: 25%;
  }
  .menu{
    width: 11%;
  }
  .social{
    width: 15%;
    float: right;
  }
  .menu{
    .column-1, .column-2{
      width:50px;
    }
    .column-1{
      float: left;
    }
    .column-2{
      float: right;
    }
  }
}
@media (max-width: 1280px){
.work-samples{
  .row{
    .sample{
      height: 250px;
    }
  }
}
  .services{
    .service-container{
      .serv-text{
        font-size: 14px;
      }
    }
  }
  footer{
    .menu{
      width: 20%;
    }
  }
}
@media (max-width: 1024px){
  header{
    ul{
      li{
        font-size: 12px;
        &:not(:last-child){
          padding-right: 20px;
        }
      }
    }
  }
  .info-block-container{
    .info-block{
      width: 50%;
      padding: 100px 0;
    }
  }
  .text-in-block{
    width: 70%;
  }
  .work-samples{
    .row{
      .sample{
        height: 190px;
      }
    }
  }
  footer{
    .menu{
      width: 20%;
    }
  }

  .work-process {
    iframe {
      height: 350px;
    }
  }
  footer{
    a:hover{
      opacity: 0.5;
    }
  }
}
@media (min-width: 1024px) {
  button:hover{
    opacity: 0.5;
  }
  header{
    a:hover{
      color: #10c9c3;
    }
  }
  .info-block{
    .contact-us:hover{
      opacity: 0.5;
    }
  }
  .work-samples{
    .row{
      .sample:hover{
        cursor: pointer;
        background-color: #252525;
        .eye-hover{
          display: block;
        }
      }
    }
  }
}
@media (max-width: 768px){
  header{
    ul{
      li{
        font-size: 9px;
        &:not(:last-child){
          padding-right: 15px;
        }
      }
    }
  }
  .info-block-container{
    .info-block{
      padding: 70px 0;
      .title{
        font-size: 30px;
      }
      .text{
        font-size: 15px;
      }
    }

  }
  .skills-container{
    .skills{
      padding: 75px 15px 160px 0px;
      .title{
        font-size: 22px;
      }
    }
    .skills-right-block{
      height: 0;
    }
  }
  .statistic{
    .statistic-container{
      padding: 15px 0;
      width: 50%;
      .img{
        margin-right: 10px;
      }
    }
  }
  .work-samples{
    .row{
      .sample{
        height: 150px;
      }
    }
  }
  .work-process{
   iframe{
     height: 250px;
   }
    .start-video{
      top:37%;
    }
  }
  .testimonials{
    .testimonial-container{
      padding: 50px 0 100px 0;
      .testimonial-text{
        font-size: 18px;
      }
    }
  }
  .feedback{
    margin-bottom: 0;
  }
  footer{
    .copyright{
      width:43%;
    }
    .contact-info{
      width:30%;
    }
    .menu{
      display: none;
    }
  }
}
@media (max-width: 480px){
  button{
    padding: 9px 17px;
  }
  .info-block-container, .work-samples, .work-progress{
    margin-bottom: 40px;
  }
  .text-in-block{
    width: 100%;
  }
  header{
    ul{
      width: 70%;
    }
  }
  .info-block-container{
    .info-block{
      width: 100%;
      text-align: center;
      padding: 25px 0;
      .contact-us{
        margin: 0 auto;
      }
    }
  }
  .about-us{
    .signature{
      margin: 0px auto 40px auto;
    }
  }
  .skills-container{
    padding: 5px 0;
    .skills{
      padding: 40px 10px 40px 10px;
      width: 100%;
      float: none;
      position: static;
      .title{
        text-align: center;
      }
    }
    .skills-right-block{
      width: 100%;
      height: 50px;
      float: none;
    }
  }
  .statistic{
    .statistic-container{
      .img{
        margin-right: 15px;
      }
    }
  }
  .work-samples{
    .more{
      line-height: 50px;
    }
    .row{
      .sample{
        height: 100px;
      }
    }
  }
  .services{
    padding-bottom: 40px;
    .service-container{
      width: 50%;
      padding-top: 40px;
    }
  }
  .clients{
    padding: 40px 0;
    .client-logo{
      width: 50%;
      height: 100px;
    }
  }
  .feedback{
    padding: 40px 0;
    input,textarea{
      @include placeholder{
        font-size: 10px;
      }
    }
  }
  footer{
    .contact-info, .copyright{
      width: 50%;
    }
    .menu, .social{
      display: none;
    }
  }
}
@media (max-width: 320px){}


