/*_____________________Variables/mixins general______________________________*/
.mid-section .more-btn, .services .service-blocks .more-btn, .contacts .address .more-btn {
  background: #eff3f6;
  padding: 15px 70px;
  color: #fc3e3f;
  font-size: 18px; }
  .mid-section .more-btn span, .services .service-blocks .more-btn span, .contacts .address .more-btn span {
    margin-left: 30px; }

.services .title, .vacancies .title, .execution .title, .feedbacks .title, .about-us .title, .contacts .title {
  font-size: 40px;
  color: #fc3e3f;
  text-align: center;
  font-weight: bold;
  padding: 50px 30px 10px 30px; }

.services .text, .vacancies .text, .execution .text, .feedbacks .text, .about-us .text, .contacts .text {
  font-size: 20px;
  text-align: center;
  margin: 0 0 20px 0; }

/*_________________________General____________________________________________*/
@font-face {
  font-family: 'MyriadPro';
  src: url(../fonts/MyriadPro/MyriadPro-Regular.otf);
  font-weight: normal;
  font-style: normal; }
body {
  /*overflow: hidden;*/ }

* {
  margin: 0;
  padding: 0;
  font-family: MyriadPro;
  box-sizing: border-box; }

a {
  text-decoration: none; }

.centerer {
  max-width: 1170px;
  margin: 0 auto;
  height: inherit;
  position: relative;
  /*border: $black-border;*/ }
  .centerer::after {
    content: '';
    display: block;
    clear: both; }

.bigger-ceneterer {
  max-width: 1366px;
  margin: 0 auto;
  height: inherit;
  position: relative; }
  .bigger-ceneterer::after {
    content: '';
    display: block;
    clear: both; }

img {
  width: 100%;
  height: auto;
  display: block; }

/*_________________________________Top block____________________________________*/
.first-block {
  background: url("../img/first-block/bg-image.png");
  background-size: cover; }

.top-section .banner {
  margin-top: 65px;
  float: left; }
.top-section .vk-logo, .top-section .phone, .top-section .phone-list {
  display: inline-block;
  letter-spacing: normal; }
.top-section a {
  color: #ffffff;
  font-size: 28px; }
  .top-section a .vk-logo {
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #00528f; }
.top-section .phone-vk {
  float: right;
  margin-top: 40px;
  letter-spacing: -4px; }
  .top-section .phone-vk .phone-list {
    border: 8px solid transparent;
    border-top: 10px solid #ffffff;
    margin-left: 50px;
    vertical-align: bottom;
    position: relative; }
    .top-section .phone-vk .phone-list ul {
      position: absolute;
      list-style: none;
      text-align: center;
      width: 250px;
      left: -125px;
      top: 10px; }
      .top-section .phone-vk .phone-list ul li {
        margin-top: 20px; }
        .top-section .phone-vk .phone-list ul li a {
          font-size: 20px; }
  .top-section .phone-vk .phone {
    margin-right: 50px; }
  .top-section .phone-vk span {
    font-size: 28px;
    color: #ffffff; }
.top-section::after {
  content: '';
  display: block;
  clear: both; }

.mid-section {
  float: right;
  width: 500px;
  margin-right: 100px;
  margin-top: 140px; }
  .mid-section .caps-and-bold {
    font-size: 35px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 25px;
    font-weight: bold; }
  .mid-section .guarantee-docs {
    font-size: 22px;
    color: #ffffff;
    margin-bottom: 40px; }
  .mid-section .more-btn {
    font-weight: bold; }

.circles {
  margin-top: 350px;
  padding-bottom: 90px; }
  .circles a {
    display: block;
    width: 10px;
    height: 10px;
    background: #ffffff;
    margin-bottom: 10px;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
    .circles a:last-child {
      margin-bottom: 0; }

/*________________________________Nav__________________________________________*/
#nav-menu {
  background: #eff3f6;
  width: 100%; }
  #nav-menu ul {
    letter-spacing: -4px;
    text-align: center; }
    #nav-menu ul li, #nav-menu ul a {
      display: inline-block;
      letter-spacing: normal; }
    #nav-menu ul li {
      list-style: none; }
    #nav-menu ul a {
      color: #000000;
      padding: 30px 25px;
      font-size: 20px; }
    #nav-menu ul .request-btn {
      color: #ffffff;
      background: #f90c17;
      padding: 0 35px;
      line-height: 50px;
      float: right;
      margin-top: 20px; }

#nav-menu.go-bot {
  width: 100%;
  transition: top 1s;
  position: fixed;
  z-index: 3;
  top: calc(100% - 84px); }

#nav-menu.go-top {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 3;
  transition: top 1s; }

/*___________________________________Services_________________________________*/
.services .title {
  margin-top: 60px; }
.services .service-blocks {
  margin-bottom: 20px; }
  .services .service-blocks .more-btn {
    padding: 15px 80px;
    font-weight: bold; }
  .services .service-blocks .first-sblock, .services .service-blocks .second-block, .services .service-blocks .third-block {
    display: inline-block;
    position: relative; }
  .services .service-blocks .fb-content {
    position: absolute;
    width: 300px;
    color: #ffffff;
    top: 0;
    margin: 40px; }
    .services .service-blocks .fb-content .bold {
      font-weight: bold;
      line-height: 50px; }
    .services .service-blocks .fb-content ul {
      margin-bottom: 40px; }
    .services .service-blocks .fb-content li {
      margin-left: 18px; }
  .services .service-blocks .sb-content, .services .service-blocks .tb-content {
    position: absolute;
    top: 35%;
    text-align: center; }
    .services .service-blocks .sb-content .block-title, .services .service-blocks .tb-content .block-title {
      font-size: 35px;
      color: #ffffff;
      opacity: 0.8; }
    .services .service-blocks .sb-content .div-button, .services .service-blocks .tb-content .div-button {
      margin-top: 115px; }

/*___________________________________Vacancies________________________________*/
.vacancies .vac-1 .vac-info .vac-title, .vacancies .vac-2 .vac-info .vac-title, .vacancies .vac-3 .vac-info .vac-title, .vacancies .vac-4 .vac-info .vac-title, .vacancies .vac-5 .vac-info .vac-title, .vacancies .vac-6 .vac-info .vac-title, .vacancies .vac-7 .vac-info .vac-title, .vacancies .vac-8 .vac-info .vac-title {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff; }

.vacancies .vac-1 .vac-info .vac-salary, .vacancies .vac-2 .vac-info .vac-salary, .vacancies .vac-3 .vac-info .vac-salary, .vacancies .vac-4 .vac-info .vac-salary, .vacancies .vac-5 .vac-info .vac-salary, .vacancies .vac-6 .vac-info .vac-salary, .vacancies .vac-7 .vac-info .vac-salary, .vacancies .vac-8 .vac-info .vac-salary {
  background: #eff3f6;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  float: right; }

.vacancies .vac-1 .vac-content, .vacancies .vac-2 .vac-content, .vacancies .vac-3 .vac-content, .vacancies .vac-4 .vac-content, .vacancies .vac-5 .vac-content, .vacancies .vac-6 .vac-content, .vacancies .vac-7 .vac-content, .vacancies .vac-8 .vac-content {
  color: #ffffff;
  margin-top: 30px;
  font-size: 16px; }

.vacancies {
  padding-bottom: 20px; }
  .vacancies .title {
    margin-top: 60px; }
  .vacancies .vac-ib {
    float: left;
    padding: 30px;
    height: 13rem; }
  .vacancies .vac-1 {
    background: url("../img/vacancies/1.png") no-repeat;
    width: 40%;
    background-size: cover; }
  .vacancies .vac-2 {
    background: url("../img/vacancies/2.png") no-repeat;
    width: 20%; }
    .vacancies .vac-2 .vac-info .vac-salary {
      color: #ffffff;
      background: #222222; }
  .vacancies .vac-3 {
    background: url("../img/vacancies/3.png") no-repeat;
    width: 20%; }
    .vacancies .vac-3 .vac-info .vac-title {
      color: #000000; }
    .vacancies .vac-3 .vac-info .vac-salary {
      color: #ffffff;
      background: #ff0000; }
    .vacancies .vac-3 .vac-content {
      color: #000000; }
  .vacancies .vac-4 {
    background: url("../img/vacancies/4.png") no-repeat;
    width: 20%; }
  .vacancies .vac-5 {
    background: url("../img/vacancies/5.png") no-repeat;
    width: 20%; }
    .vacancies .vac-5 .vac-info .vac-title {
      color: #000000; }
    .vacancies .vac-5 .vac-info .vac-salary {
      color: #ffffff;
      background: #ff0000; }
    .vacancies .vac-5 .vac-content {
      color: #000000; }
  .vacancies .vac-6 {
    background: url("../img/vacancies/6.png") no-repeat;
    width: 20%; }
    .vacancies .vac-6 .vac-info .vac-salary {
      color: #ffffff;
      background: #222222; }
  .vacancies .vac-7 {
    background: url("../img/vacancies/7.png") no-repeat;
    width: 20%; }
    .vacancies .vac-7 .vac-info .vac-salary {
      color: #ffffff;
      background: #222222; }
  .vacancies .vac-8 {
    background: url("../img/vacancies/8.png") no-repeat;
    width: 40%;
    background-size: cover; }

/*___________________________________Execution terms__________________________*/
.execution {
  background: url("../img/execution/bg.png"); }
  .execution .title {
    padding-top: 140px; }
  .execution .text {
    color: #9a9a9a; }
  .execution .step {
    width: 25%;
    float: left; }
  .execution .step-number {
    position: relative;
    color: #464646;
    opacity: 0.7;
    font-size: 150px;
    font-weight: bold;
    text-align: left; }
  .execution .step-ico {
    position: absolute;
    left: 55px;
    bottom: -20px; }
  .execution .step-desc {
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFF; }
    .execution .step-desc .step-title {
      font-weight: bold;
      font-size: 20px;
      height: 80px; }

/*___________________________________Feedbacks________________________________*/
.feedbacks .title {
  margin-top: 60px; }
.feedbacks .counter {
  font-size: 40px;
  text-align: center;
  margin-bottom: 40px; }
.feedbacks .feedback-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  margin-bottom: 40px; }
  .feedbacks .feedback-wrapper .arrow-left, .feedbacks .feedback-wrapper iframe, .feedbacks .feedback-wrapper .person, .feedbacks .feedback-wrapper .arrow-right {
    display: table-cell;
    vertical-align: middle; }
  .feedbacks .feedback-wrapper .arrow-left, .feedbacks .feedback-wrapper .arrow-right {
    cursor: pointer; }
    .feedbacks .feedback-wrapper .arrow-left span, .feedbacks .feedback-wrapper .arrow-right span {
      color: #ff0000;
      font-size: 60px;
      font-weight: bold; }
  .feedbacks .feedback-wrapper .arrow-left {
    padding-right: 20px; }
  .feedbacks .feedback-wrapper .arrow-right {
    padding-left: 20px; }
  .feedbacks .feedback-wrapper .person {
    padding-left: 50px;
    margin-right: 80px; }
    .feedbacks .feedback-wrapper .person .name {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 10px; }
    .feedbacks .feedback-wrapper .person .position {
      font-size: 18px; }
    .feedbacks .feedback-wrapper .person .profile {
      font-size: 18px;
      margin-top: 20px;
      width: 300px; }
      .feedbacks .feedback-wrapper .person .profile a {
        color: #ffffff;
        font-size: 28px; }
        .feedbacks .feedback-wrapper .person .profile a .vk-logo {
          float: right;
          width: 60px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          -moz-border-radius: 50%;
          -o-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%;
          background: #00528f;
          margin-right: 150px; }
  .feedbacks .feedback-wrapper img {
    width: 200px; }
.feedbacks .write-us {
  text-align: center; }
  .feedbacks .write-us .text {
    width: 700px;
    margin: 0 auto 150px auto; }
  .feedbacks .write-us .name-input input, .feedbacks .write-us .phone-input input {
    width: 500px;
    padding: 10px 50px;
    color: #c2c2c2;
    border: 1px solid #c2c2c2; }
  .feedbacks .write-us .phone-input {
    margin-top: 30px; }
  .feedbacks .write-us .btn-send {
    color: #e6e6e6;
    font-size: 16px;
    padding: 0 50px;
    line-height: 50px;
    background: #ff0000;
    border: none;
    margin-top: 50px;
    cursor: pointer; }

/*___________________________________About us_________________________________*/
.about-us {
  background: url("../img/about-us/canyon-bg.png"); }
  .about-us .title {
    padding-top: 120px; }
  .about-us .text {
    color: #ffffff; }
  .about-us .license1, .about-us .license2 {
    float: left;
    margin-right: 40px;
    margin-bottom: 40px; }
    .about-us .license1 img, .about-us .license2 img {
      width: 100%; }
  .about-us .about-us-text {
    color: #ffffff; }
    .about-us .about-us-text .bold {
      font-weight: bold; }
    .about-us .about-us-text > div {
      margin-bottom: 30px; }

/*___________________________________Contacts_________________________________*/
.contacts .title {
  padding-top: 105px; }
.contacts .map {
  position: relative; }
.contacts .address {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #484848;
  opacity: 0.8;
  z-index: 5;
  color: #ffffff;
  text-align: center;
  font-size: 25px;
  top: 0; }
  .contacts .address a {
    color: #ffffff; }
  .contacts .address .email {
    line-height: 60px; }
  .contacts .address .btn-address {
    margin-top: 40px; }
  .contacts .address .firm-name {
    margin-bottom: 20px;
    margin-top: 70px; }

footer .to-top {
  background: #d0d0d0;
  width: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left; }
footer .all-rights {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px; }

/*_________________________________________Media______________________________*/
@media screen and (max-width: 1280px) {
  .fp-tableCell {
    vertical-align: top;
    height: 100% !important; }

  .first-block .circles {
    margin-top: 420px; }

  .services .title {
    margin-top: 0; }

  .vacancies .title {
    margin-top: -150px; }

  .execution {
    margin-top: -340px; }

  .feedbacks {
    margin-top: -340px; }
    .feedbacks .title {
      margin-top: 0px;
      padding-top: 0; }

  .about-us {
    margin-top: -500px; }

  .contacts {
    margin-top: -500px; }
    .contacts .title {
      padding: 0;
      margin: 0; }

  footer {
    margin-top: 0px; } }
@media screen and (min-width: 1024px) {
  /*hovers*/
  .top-section a .vk-logo:hover {
    background: #0079d2; }

  .phone-vk .phone-list:hover {
    cursor: pointer; }

  ul li a:hover {
    color: #959595;
    text-decoration: underline; }

  .mid-section .more-btn:hover {
    background: #ff353b;
    color: #ffffff; }

  .circles a:hover {
    background: #00528f; }

  #nav-menu ul a:hover {
    color: #fc3e3f;
    background: #e3e7e9; }
  #nav-menu ul .request-btn:hover {
    background: #ff4a46;
    color: #ffffff; }

  .services .service-blocks .more-btn:hover {
    background: #ff353b;
    color: #ffffff; }

  .vacancies .vac-title:hover {
    background: #0079d4;
    padding: 5px;
    opacity: 0.8; }

  .feedbacks .profile a .vk-logo:hover {
    background: #0079d2; }

  .contacts .address a:hover {
    color: #000e5e;
    text-decoration: underline; }
  .contacts .address .more-btn:hover {
    text-decoration: none;
    background: #ff443a;
    color: #ffffff; } }
@media screen and (max-width: 1024px) {
  .centerer {
    padding: 0 15px; }

  #nav-menu ul a {
    padding: 30px 20px;
    font-size: 18px; }
  #nav-menu ul .request-btn {
    line-height: 40px;
    margin: 20px 0; }

  .services .service-blocks .first-sblock, .services .service-blocks .second-block, .services .service-blocks .third-block {
    display: block;
    width: 40%;
    left: 30%;
    right: 30%;
    margin-top: 30px; }

  .vacancies .title {
    margin-top: -10px; }
  .vacancies .vac-ib {
    padding: 10px; }
  .vacancies .vac-1 .vac-info .vac-title, .vacancies .vac-2 .vac-info .vac-title, .vacancies .vac-3 .vac-info .vac-title, .vacancies .vac-4 .vac-info .vac-title, .vacancies .vac-5 .vac-info .vac-title, .vacancies .vac-6 .vac-info .vac-title, .vacancies .vac-7 .vac-info .vac-title, .vacancies .vac-8 .vac-info .vac-title {
    font-size: 18px; }
  .vacancies .vac-1 .vac-info .vac-salary, .vacancies .vac-2 .vac-info .vac-salary, .vacancies .vac-3 .vac-info .vac-salary, .vacancies .vac-4 .vac-info .vac-salary, .vacancies .vac-5 .vac-info .vac-salary, .vacancies .vac-6 .vac-info .vac-salary, .vacancies .vac-7 .vac-info .vac-salary, .vacancies .vac-8 .vac-info .vac-salary {
    font-size: 14px;
    padding: 4px; }

  .execution {
    margin-top: -100px; }
    .execution .title {
      padding-top: 50px; }

  .feedbacks {
    margin-top: -200px; }
    .feedbacks .feedback-wrapper .arrow-left span, .feedbacks .feedback-wrapper .arrow-right span {
      font-size: 20px; }

  .about-us {
    margin-top: -400px; }
    .about-us .title {
      padding-top: 50px; }

  .contacts {
    margin-top: -450px; } }
@media screen and (max-width: 768px) {
  .top-section .banner {
    width: 35%;
    margin-top: 35px; }
  .top-section .phone-vk span {
    font-size: 18px; }

  .mid-section {
    width: 400px;
    margin-right: 0; }
    .mid-section .caps-and-bold {
      font-size: 25px; }
    .mid-section .guarantee-docs {
      font-size: 18px; }

  .first-block .circles {
    margin-top: 290px;
    padding-bottom: 40px; }

  #nav-menu ul a {
    padding: 20px 10px;
    font-size: 16px; }
  #nav-menu ul .request-btn {
    line-height: 40px;
    margin: 10px 0; }

  .services .title {
    padding: 0; }
  .services .service-blocks .fb-content {
    margin: 10px;
    font-size: 14px; }
    .services .service-blocks .fb-content ul {
      margin-bottom: 20px; }
  .services .service-blocks .sb-content .block-title, .services .service-blocks .tb-content .block-title {
    font-size: 22px; }
  .services .service-blocks .more-btn {
    padding: 5px 10px;
    font-size: 16px;
    margin: 0 60px; }

  .vacancies .vac-ib {
    height: 12rem; }
  .vacancies .vac-1 .vac-info .vac-title, .vacancies .vac-2 .vac-info .vac-title, .vacancies .vac-3 .vac-info .vac-title, .vacancies .vac-4 .vac-info .vac-title, .vacancies .vac-5 .vac-info .vac-title, .vacancies .vac-6 .vac-info .vac-title, .vacancies .vac-7 .vac-info .vac-title, .vacancies .vac-8 .vac-info .vac-title {
    font-size: 14px; }
  .vacancies .vac-1 .vac-info .vac-salary, .vacancies .vac-2 .vac-info .vac-salary, .vacancies .vac-3 .vac-info .vac-salary, .vacancies .vac-4 .vac-info .vac-salary, .vacancies .vac-5 .vac-info .vac-salary, .vacancies .vac-6 .vac-info .vac-salary, .vacancies .vac-7 .vac-info .vac-salary, .vacancies .vac-8 .vac-info .vac-salary {
    font-size: 11px;
    padding: 4px; }
  .vacancies .vac-1 .vac-content, .vacancies .vac-2 .vac-content, .vacancies .vac-3 .vac-content, .vacancies .vac-4 .vac-content, .vacancies .vac-5 .vac-content, .vacancies .vac-6 .vac-content, .vacancies .vac-7 .vac-content, .vacancies .vac-8 .vac-content {
    font-size: 13px !important; }

  .execution {
    margin-top: 0; }
    .execution .step-number {
      font-size: 80px; }
    .execution .step-ico {
      width: 40%;
      left: 35px;
      bottom: 0; }
    .execution .step-desc .step-title {
      font-size: 16px;
      height: 60px; }

  .feedbacks {
    margin-top: 0; }
    .feedbacks iframe {
      width: 350px;
      height: 215px; }
    .feedbacks .feedback-wrapper img {
      margin-top: 40px; }
    .feedbacks .feedback-wrapper .person {
      padding-left: 10px; }
      .feedbacks .feedback-wrapper .person .position {
        font-size: 15px; }
    .feedbacks .write-us .text {
      margin: 0 auto 100px auto; }

  .about-us {
    margin-top: 0; }
    .about-us .license1, .about-us .license2 {
      margin: 0 0 20px 80px; }
      .about-us .license1 img, .about-us .license2 img {
        width: 80%; }
    .about-us .about-us-text {
      font-size: 15px;
      float: left;
      margin-left: 180px; }
      .about-us .about-us-text > div {
        margin-bottom: 10px; }

  .contacts {
    margin-top: 20px; }
    .contacts .address {
      font-size: 15px; } }
@media screen and (max-width: 480px) {
  .top-section a .vk-logo {
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .top-section .banner {
    width: 35%;
    margin-top: 35px; }
  .top-section .phone-vk {
    margin-top: 35px; }
    .top-section .phone-vk .phone {
      margin-right: 20px; }
    .top-section .phone-vk .phone-list {
      margin-left: 20px; }
    .top-section .phone-vk span {
      font-size: 18px; }

  .mid-section {
    width: 100%;
    margin-right: 0;
    text-align: center; }
    .mid-section .caps-and-bold {
      font-size: 20px; }
    .mid-section .guarantee-docs {
      font-size: 16px; }
    .mid-section .more-btn {
      padding: 10px 15px;
      font-size: 15px; }

  .first-block .circles {
    padding-bottom: 65px; }

  #nav-menu ul a {
    padding: 10px 5px;
    font-size: 12px; }
  #nav-menu ul .request-btn {
    line-height: 20px;
    margin: 5px 130px; }

  #nav-menu.go-bot {
    top: calc(100% - 64px); }

  .services .title {
    padding: 0;
    font-size: 25px; }
  .services .text {
    font-size: 16px; }
  .services .service-blocks .fb-content {
    margin: 10px;
    font-size: 14px; }
    .services .service-blocks .fb-content ul {
      margin-bottom: 20px; }
  .services .service-blocks .sb-content .block-title, .services .service-blocks .tb-content .block-title {
    font-size: 20px; }
  .services .service-blocks .more-btn {
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 60px; }
  .services .service-blocks .first-sblock, .services .service-blocks .second-block, .services .service-blocks .third-block {
    display: block;
    width: 70%;
    left: 15%;
    right: 15%;
    margin-top: 30px; }
  .services .service-blocks .sb-content, .services .service-blocks .tb-content {
    left: 5%; }

  .vacancies .title {
    font-size: 25px; }
  .vacancies .text {
    font-size: 16px; }
  .vacancies .vac-ib {
    height: 100%;
    float: none; }
  .vacancies .vac-1, .vacancies .vac-2, .vacancies .vac-3, .vacancies .vac-4, .vacancies .vac-5, .vacancies .vac-6, .vacancies .vac-7, .vacancies .vac-8 {
    width: 100%;
    margin-top: 10px;
    background-size: cover; }
    .vacancies .vac-1 .vac-info .vac-title, .vacancies .vac-2 .vac-info .vac-title, .vacancies .vac-3 .vac-info .vac-title, .vacancies .vac-4 .vac-info .vac-title, .vacancies .vac-5 .vac-info .vac-title, .vacancies .vac-6 .vac-info .vac-title, .vacancies .vac-7 .vac-info .vac-title, .vacancies .vac-8 .vac-info .vac-title {
      font-size: 14px; }
    .vacancies .vac-1 .vac-info .vac-salary, .vacancies .vac-2 .vac-info .vac-salary, .vacancies .vac-3 .vac-info .vac-salary, .vacancies .vac-4 .vac-info .vac-salary, .vacancies .vac-5 .vac-info .vac-salary, .vacancies .vac-6 .vac-info .vac-salary, .vacancies .vac-7 .vac-info .vac-salary, .vacancies .vac-8 .vac-info .vac-salary {
      font-size: 11px;
      padding: 4px; }
    .vacancies .vac-1 .vac-content, .vacancies .vac-2 .vac-content, .vacancies .vac-3 .vac-content, .vacancies .vac-4 .vac-content, .vacancies .vac-5 .vac-content, .vacancies .vac-6 .vac-content, .vacancies .vac-7 .vac-content, .vacancies .vac-8 .vac-content {
      font-size: 13px; }

  .execution {
    margin-top: 0; }
    .execution .title {
      font-size: 25px; }
    .execution .text {
      font-size: 16px; }
    .execution .step-number {
      font-size: 80px; }
    .execution .step-ico {
      width: 40%;
      left: 35px;
      bottom: 0; }
    .execution .step-desc {
      font-size: 12px; }
      .execution .step-desc .step-title {
        font-size: 14px;
        height: 60px; }

  .feedbacks {
    margin-top: -50px; }
    .feedbacks .title {
      font-size: 25px; }
    .feedbacks .text {
      font-size: 16px; }
    .feedbacks iframe {
      width: 250px;
      height: 115px; }
    .feedbacks .feedback-wrapper {
      display: block;
      text-align: -webkit-center; }
      .feedbacks .feedback-wrapper img {
        width: 150px; }
      .feedbacks .feedback-wrapper .person {
        padding-left: 10px; }
        .feedbacks .feedback-wrapper .person .name {
          font-size: 18px;
          margin-top: 50px; }
        .feedbacks .feedback-wrapper .person .position {
          font-size: 13px;
          width: 250px;
          text-align: justify; }
        .feedbacks .feedback-wrapper .person .profile {
          font-size: 16px;
          width: 200px; }
          .feedbacks .feedback-wrapper .person .profile a .vk-logo {
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin-right: 5px; }
      .feedbacks .feedback-wrapper .arrow-left {
        display: none !important; }
      .feedbacks .feedback-wrapper .arrow-right {
        float: right;
        margin-top: -150px; }
    .feedbacks .write-us {
      text-align: center; }
      .feedbacks .write-us .text {
        width: 300px;
        margin: 0 auto 15px auto; }
      .feedbacks .write-us .name-input input, .feedbacks .write-us .phone-input input {
        width: 200px; }
      .feedbacks .write-us .phone-input {
        margin-top: 15px; }
      .feedbacks .write-us .btn-send {
        font-size: 14px;
        padding: 0 20px;
        line-height: 30px; }

  .about-us {
    padding-top: 30px; }
    .about-us .title {
      padding: 0;
      font-size: 25px; }
    .about-us .text {
      font-size: 16px; }
    .about-us .license1, .about-us .license2 {
      display: table-cell;
      text-align: -webkit-center;
      float: none; }
      .about-us .license1 img, .about-us .license2 img {
        width: 80%; }
    .about-us .about-us-text {
      font-size: 13px;
      /*  float: left;*/
      margin-left: 20px;
      margin-top: 10px; }
      .about-us .about-us-text > div {
        margin-bottom: 10px; }

  .contacts {
    margin-top: 20px; }
    .contacts .title {
      padding: 0;
      font-size: 25px; }
    .contacts .text {
      font-size: 16px; }
    .contacts .address {
      font-size: 15px; }
      .contacts .address .more-btn {
        padding: 5px 20px;
        font-size: 16px; }

  footer .all-rights {
    margin: 0;
    font-size: 14px; } }
@media screen and (max-width: 320px) {
  .centerer {
    padding: 0 5px; }

  #nav-menu ul a {
    padding: 5px 15px;
    font-size: 12px; }
  #nav-menu ul .request-btn {
    line-height: 20px;
    margin: 5px 97px; }

  .services .title {
    padding: 0;
    font-size: 25px; }
  .services .text {
    font-size: 16px; }
  .services .service-blocks .fb-content {
    margin: 40px 8px 8px 8px;
    font-size: 12px;
    width: 100%; }
    .services .service-blocks .fb-content ul {
      margin-bottom: 20px; }
    .services .service-blocks .fb-content .bold {
      line-height: 8px; }
  .services .service-blocks .sb-content .block-title, .services .service-blocks .tb-content .block-title {
    font-size: 20px; }
  .services .service-blocks .more-btn {
    padding: 5px 10px;
    font-size: 14px;
    margin: 0 60px; }
  .services .service-blocks .first-sblock, .services .service-blocks .second-block, .services .service-blocks .third-block {
    display: block;
    width: 70%;
    left: 30px;
    right: 30px;
    margin-top: 30px; }
    .services .service-blocks .first-sblock img, .services .service-blocks .second-block img, .services .service-blocks .third-block img {
      width: 115%; }
  .services .service-blocks .sb-content, .services .service-blocks .tb-content {
    left: 5%; }
    .services .service-blocks .sb-content .div-button, .services .service-blocks .tb-content .div-button {
      margin-top: 80px; }

  .execution {
    /*.title{
      font-size: 25px;
    }
    .text{
      font-size: 16px;
    }
    margin-top: 0;*/ }
    .execution .step-number {
      font-size: 80px; }
    .execution .step-ico {
      width: 40%;
      left: 35px;
      bottom: 0; }
    .execution .step-desc {
      font-size: 12px; }
      .execution .step-desc .step-title {
        font-size: 12px;
        height: 60px; }

  .contacts {
    margin-top: 20px; }
    .contacts .title {
      padding: 0;
      font-size: 25px; }
    .contacts .text {
      font-size: 16px; }
    .contacts .address {
      font-size: 15px; }
      .contacts .address .more-btn {
        padding: 5px 20px;
        font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
