.lux{
	width: 300px;

	border-spacing: 0;
	border-collapse: collapse;

	border: 1px solid #a52a2a;
}
.lux th{
	color: white;
	background: #a52a2a;
}
.lux td{
	border-bottom: 1px solid black;
}
.lux td, .lux th{
	padding: 4px;
}
/*
.lux tr:nth-child(2n){
    background: #90cf96;
}*/


.lux tr:nth-child(2n-1){
	background: #fff8dc;
}
