.container {
    border: 1px solid #000000;
    display: inline-block;
}

.black, .white{
    display: inline-block;
    font-size: 40px;
    padding-top:10px;
}
.black{
    color: #000000;
    padding-left: 10px;
}

.white{
    background: #000000;
    color: #ffffff;
    padding-right: 10px;
    border: 1px solid #ffffff;
}