*{
    padding: 0;
    margin: 0;
}

blockquote{
    margin-top: 30px;
}

blockquote::before, blockquote::after{
    font-weight: bold;
    font-size: 50px;
}

blockquote::before
{
    content: '«';
    float: left;
    margin-top: -20px;
}

blockquote::after
{
    content: '»';
    float: right;
    margin-top: -40px;
}

p{
    padding-left: 80px;
}
p:last-child{
    margin-top: 20px;
}