table {
    border-collapse: collapse;
    border-spacing: 0px;
    counter-reset: letter list 16;
}

td  {
    border: 1px solid #000;
    height: 30px;
    width: 30px;
}

.foot td {
    border: none;
    padding-top: 15px;
    text-align: center;
}

.foot td:after {
    content: counter(letter, upper-alpha);
    counter-increment: letter 1;
}

.body th:before {
    content: counter(list);
    counter-increment: list -1;
    font-weight: normal;
    padding-right: 10px;
}

