table{
    border: 1px solid #000000;
    border-collapse: collapse;
}

td,th{
    border: 1px solid #000000;
    padding: 3px;
}

th{
    background: #666666;
    color: #ffffff;
    padding: 5px;
}
td:nth-child(2n-1){
    background: #7cded5;
}
td{
    background: #fffd7a;
}

td:nth-child(3){
    text-align: center;
}