.field{
	position: relative;

	height: 40px;
	padding: 0;

	border-radius: 10px;
	background: lightgray;
}

.field::before{
	line-height: 40px;

	position: absolute;

	width: 300px;
	height: 40px;

	content: '9691';
	text-align: center;

	color: white;
	border-radius: 10px 0 0 10px;
	background: #00b700;
}

.num{
	line-height: 18px;

	position: absolute;
	top: 10px;
	right: 20px;

	text-align: center;
}

.num::before, .num::after{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;

	display: inline-block;

	width: 20px;
	height: 20px;

	text-align: center;

	color: white;
	border-radius: 3px;
	box-shadow: 0 0 4px grey;
}

.num::before{
	float: left;

	margin-right: 15px;

	content: '-';

	background: red;
}

.num::after{
	float: right;

	margin-left: 15px;

	content: '+';

	background: greenyellow;
}
