.menu li{
	list-style: none;
}

.menu{
	width: 200px;
	margin-left: 10px;
	padding: 10px;
	border: 1px solid #000000;
	border-radius: 10px;
	background: #4df587;
	box-shadow: 7px 6px 0 -2px #a52a2a;
}
