.about, .team, .service, .portfolio, .blog, .contact, .shape-white, .shape-gray, .shape-hover, .arrow, .arrow-hover, .phone, .cup, .diamond, .heart, .heart-hover, .shape-hover-small, .hat, .arrow-left, .arrow-right{
	background: url(../img/sprites.png) no-repeat;
}

.about{
	background-position: 0 0;
	width: 57px;
	height: 57px;
}

.team{
	background-position: -100px 0;
	width: 56px;
	height: 56px;
}

.service{
	background-position: -200px 0;
	width: 61px;
	height: 53px;
}

.portfolio{
	background-position: -300px 0;
	width: 50px;
	height: 53px;
}

.blog{
	background-position: -397px 0;
	width: 58px;
	height: 58px;
}

.contact{
	background-position: -501px 0;
	width: 58px;
	height: 58px;
}

.shape-white{
	background-position: 0 -100px ;
	width: 167px;
	height: 181px;
}

.shape-gray{
	background-position: -201px -100px ;
	width: 172px;
	height: 186px;
}

/*.shape-hover{
	background-position: -399px -100px ;
	width: 167px;
	height: 181px;
}*/

.arrow{
	background-position: 0 -301px ;
	width: 86px;
	height: 93px;
}

.arrow-hover{
	background-position: -105px -302px ;
	width: 85px;
	height: 93px;
}

.phone{
	background-position: -208px -302px ;
	width: 44px;
	height: 63px;
}

.cup{
	background-position: -263px -301px ;
	width: 54px;
	height: 61px;
}

.diamond{
	background-position: -324px -299px ;
	width: 83px;
	height: 63px;
}

.heart{
	background-position: -418px -301px ;
	width: 71px;
	height: 62px;
}

.heart-hover{
	background-position: -497px -300px ;
	width: 72px;
	height: 71px;
}

.shape-hover-small{
	background-position: 0 -401px ;
	width: 172px;
	height: 186px;
}

.hat{
	background-position: -195px -401px ;
	width: 68px;
	height: 59px;
}

.arrow-left{
	background-position: -299px -405px ;
	width: 65px;
	height: 70px;
}

.arrow-right{
	background-position: -384px -402px ;
	width: 65px;
	height: 70px;
}

