li{
    list-style: none;
    display:inline-block;
    border: 1px solid black;
    width: 20px;
    text-align: center;
    margin-left: 10px;
    box-shadow: 0 0 5px  grey;
    background: linear-gradient(to bottom, #ffffff, #ccc6c0);
    border-radius: 3px;
}