*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Esqadero';
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
a{
  text-decoration: none;
  color: #ffffff;
}
.container {
  max-width:1170px;
  margin: 0 auto;
 /* position: relative;*/
  &::after{
    content: '';
    display: block;
    clear: both;
  }
 /* border: 1px solid black;*/
}
.title{
  font-size: 45px;
  color: #ffffff;
  text-align: center;
  padding: 40px 0;
  margin-bottom: 100px;
}
$bg-title:url("../images/bg-title.png") repeat;
$bg-menu:url("../images/menu-bg.png") repeat;
.bg-title{
  background: $bg-title;
}
@mixin border-radius($radius){
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
/*________________FONTS___________________*/
@font-face {
  font-family: 'AGENCYB';
  src: url(../fonts/AGENCYB.TTF);
}
@font-face{
  font-family: 'AGENCYR';
  src:url(../fonts/AGENCYR.TTF);
}  ;
@font-face{
  font-family: 'Esqadero';
  src:url(../fonts/EsqaderoFFCY4F-Regular.otf);
}
/*______________NAV-FIXED_______________________*/
.nav-fixed{
  background: $bg-menu;
  width: 100%;
  position: fixed;
  z-index: 6;
  top:0;
  display: none;
  .logo{
    max-width: 20%;
    float: left;
    margin-top: 30px;
    img {
      width: 60%;
      height: auto;}
  }
  nav{
    width: 60%;
    float: left;
    margin-top: 35px;
    ul{
      list-style: none;
      padding: 30px 10px 10px;
      margin: auto;
      display: table;
      li{
        display: table-cell;
        border-right: 1px solid #ffffff;
        &:last-child{
          border-right: none;
        }
        a{
          padding: 6px;
          font-size: 14px;
        }
      }
    }
  }
  .top-right{
    width: 20%;
    float: left;
    .phone{
      font-size: 29px;
      margin-top: 13px;
      margin-bottom: 10px;
      float: right;
      a{
        font-family: 'AGENCYB';
      }
    }
    .address{
      width: 220px;
      margin-left: 55px;
    }
    .recall{
      a{
        height: 30px;
        width: 160px;
        @include border-radius(5px);
        text-align: center;
        line-height: 30px;
        color: #000000;
        background: #00a0a0;
        float: right;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 12px;
        border: none;
      }
    }
  }
}
  .fixed{
    position: fixed;
    z-index: 6;
    top:0;
  }

/*_____________HEADER___________________*/
header{
  background: url("../images/block1/background1.png") no-repeat bottom center/cover;
  padding-bottom: 150px;
  .top-part{
    &:before{
      content: " ";
      display: table;
    }
    .logo{
      max-width: 20%;
      float: left;
      margin-top: 30px;
      img {
        width: 60%;
        height: auto;}
    }
    nav{
      width: 60%;
      float: left;
      ul{
        background: $bg-menu;
        list-style: none;
        padding: 30px 10px 10px;
        margin: auto;
        display: table;
        li{
          display: table-cell;
          border-right: 1px solid #ffffff;
          &:last-child{
            border-right: none;
          }
          a{
            padding: 6px;
            font-size: 14px;
          }
        }
      }
    }
    .top-right{
      width: 20%;
      float: left;
      .phone{
        font-size: 29px;
        margin-top: 13px;
        margin-bottom: 10px;
        float: right;
        a{
          font-family: 'AGENCYB';
        }
      }
      .address{
        width: 220px;
        margin-left: 55px;
      }
    }
    &::after{
      content: "";
      display: block;
      clear: both;
    }
  }
  .wrapper{
    .pull-left, .pull-right{
      min-height: 150px;
      position: relative;
      line-height: 1;
      padding: 5px;
      font-size: 24px;
      background: $bg-menu;
      &::after{
        content:" ";
        display:block;
        clear: both;
      }
    }
    .pull-left{
      &::before{
        content: "";
        background: $bg-menu;
        height: 100%;
        width: 1500px;
        position: absolute;
        top: 0;
        left: -1500px;
        display: block;
      }
      width: 30%;
      margin-top: 50px;
      &:last-child{
        margin-top: 205px;
        margin-bottom: 150px;
      }
      .left-inner{
        padding: 10px;
        font-size: 22px;
        float: right;
      }
      .left-inner.last{
        width: 100%;
        top: 0;
        bottom: 0;
        right: 20px;
        margin: 10px auto;
        height: 105px;
        line-height: 1.3em;
        text-align: center;
      }
    }
    .pull-right{
      float:right;
      text-align: center;
      width: 35%;
     /* &::after{
        content: "";
        background: $bg-menu;
        height: 100%;
        width: 1500px;
        position: absolute;
        top: 0;
        right: -1500px;
        display: block;
      }*/
      .right-inner{
        padding: 10px;
        font-size: 22px;
        .counter{
          width:30%;
        }
      }
    }
  }
  .possibilities{
    background:$bg-title;
    width: 100%;
    position: relative;
    font-size: 20px;
    letter-spacing: -4px;
    &::after{
      content: "";
      display: block;
      clear: both;
    }
    .possibility{
      letter-spacing: normal;
      display: inline-block;
      width: 30%;
      vertical-align: top;
      padding: 15px;
      img{
        width: 25%;
        float: left;
        margin-right: 10px;
        &::after{
          content: "";
          display: block;
          clear: both;
        }
      }
      .text{
        overflow: hidden;
        &::after{
          content: "";
          display: block;
          clear: both;
        }
      }
    }
    .last-in-row{
      width: 39%;
      .image::after{
        content: "";
        display: block;
        clear: both;
      }
    }
    .circle-arrow{
      img{
        padding-top: 20px;
      }
    }
    .geo{
      .text{
        padding-top: 20px;
      }
    }
  }
}
/*______________PRODUCTION_______________________*/
.production{
  background: url("../images/t-shorts/bg-t-shorts.png")no-repeat center/cover;
  .production-title{
  }
  .product-slider{
    padding-bottom: 100px;
    .slick-prev, .slick-next {
      top: 195px;
      background: url("../images/t-shorts/arrows.png") no-repeat;
      width: 67px;
      height: 268px;
      z-index: 1;
      &::before{
        content: '';
      }
    }
    .slick-prev{
      left: 400px;
      background-position: 0 0;
    }
    .slick-next {
      right: 400px;
      background-position: -66px 0;
    }
    img{
      width: 316px;
      margin: 0 auto;
    }
    .t-short{
      width: 500px;
      margin: 0 auto;
    }
  }
}
/*_____________PRICES_______________________*/
.prices{
  background: url("../images/prices/bg-price.png") no-repeat center/cover;
  .table-title{
    margin-bottom: 50px;
  }
  .second-title{
    margin-bottom: 0;
    padding: 80px 0;
  }
  .information{
    width: 70%;
    margin: 40px 0 0 0;
    padding-bottom: 20px;
  }
  table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    width: 85%;
    td,th, tr{
      border: 1px solid #fff;
      font-weight: normal;
      text-align: center;
      padding: 3px;
    }
  }
}
/*______________WORK-SCHEME_______________________*/
.work-scheme{
  background: url("../images/work-scheme/bg-work-scheme.png") no-repeat center/cover;
  .container{
    text-align: center;
  }
  .work-content-wrap{
    letter-spacing: normal;
    display: inline-block;
    width: 30%;
    text-align: left;
    img{
      width: 25%;
      float: left;
      margin-right: 10px;
      &::after{
        content: "";
        display: block;
        clear: both;
      }
    }
    .content{
      margin-left: 140px;
    }
  }
  .arrow-bottom{
    /*width: 95px;
    height: 95px;*/
    margin: 20px auto;
  }
    .img{
      float: left;
      margin-right: 40px;
    }
    .content{
      width: 100%;
    }
  }
  .arrow-bottom{
    width: 100px;
  }
  .information{
    width: 70%;
    margin: 80px 0 0 0;
    padding-bottom: 20px;
    text-align: left;
  }

/*______________QUALITY_______________________*/
.quality{
  background: url("../images/quality/bg-quality.png") no-repeat center/cover;
  .description{
    width: 67%;
    margin: 0 auto;
    .par1, .par-li, .rules-title{
      padding-bottom: 35px;
    }
    .par2, .par-underline{
      padding-bottom: 40px;
    }
    .par-underline{
      text-decoration: underline;
    }
    .rules{
      padding-bottom: 40px;
      img{
        width: 50%;
      }
      .rules-title{
        text-align: center;
        padding-bottom: 10px;
      }
      .rule{
        display: table;
       span{
         display: table-cell;
         vertical-align:middle;
       }
      }
    }
  }
  .fancy-images{
    padding-bottom: 50px;
    a{
      margin-left: 90px;
    }
    img{
      width: 14%;
    }
  }
}
/*______________PARTNERS_______________________*/
.partners{
  background: url("../images/partners/bg-partners.png") no-repeat center/cover;
  a{
    display: inline-block;
    margin-right: 51px;
    letter-spacing: normal;
  }
  .f-line, .s-line, .t-line{
    width: 900px;
    margin: 0 auto;
    padding-bottom: 150px;
    letter-spacing:  -4px;
  }
  .s-line{
    a{
      margin-right: 85px;
    }
  }
  .t-line{
    width: 500px;
    a{
      margin-right: 80px;
    }
  }
}
/*______________CONTACTS_______________________*/
.contacts {
  .scheme-title {
    margin-bottom: 0;
  }
  .map {
    position: relative;
    iframe{
      width:100%;
      height:650px;
      border:none;
    }
    .contact-container{
      background: $bg-menu;
      position: absolute;
      top: 100px;
      width: 40%;
      padding: 5px;
      font-size: 24px;
      min-height: 150px;
      .contact-us {
        float: right;
        text-align: justify;
        .map-title{
          text-align: center;
        }
        &>div{
          margin: 20px 0 0 30px;
          font-size: 18px;
        }
          img{
            width: 10%;
            margin-right: 30px;
          }
        .call{
          padding-bottom: 30px;
        }
      }
    }
  }
}
/*______________FOOTER_______________________*/
footer{
  background:$bg-title;
  text-align: center;
  margin-top: -5px;
  img{
    width: 15%;
    padding: 25px;
  }
}
/*______________POP-UP_______________________*/
.pop-up{
  background: $bg-menu;
  color: #FFF;
  width: 340px;
  height: 440px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -170px;
  margin-top: -210px;
  padding: 20px;
  @include border-radius(3px);
  z-index: 999;
  .title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
    padding: 0;
  }
  form{
    position: relative;
  }
  .line{
    font-size: 18px;
    line-height: 2;
  }
  input, textarea{
    background: #CCC;
    color: #999;
    padding: 5px;
    text-align: center;
    border: none;
    @include border-radius(5px);
    width: 100%;
  }
  textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-width: 100px;
    text-align: left;
    font-size: 12px;
    resize: none;
  }
  button{
    height: 30px;
    width: 160px;
    text-align: center;
    line-height: 30px;
    color: #000;
    background: #099;
    display: block;
    float: left;
    @include border-radius(5px);
    margin-bottom: 8px;
    text-transform: uppercase;
    font-size: 12px;
    border: none;
  }
}
/*______________TIMER_______________________*/
.timer-flipchart-face{
  font-size: 30px !important;
}
.counter{
  float: right;
}
#timereba8b465b67fc1fe4127bfd98fc02f4d{
  margin-top: 20px;
  /*margin-left: 9px;*/
  margin-left: -256px;
  min-width: 358px !important;
  height: 70px !important;
  float: left;
}
.timer-element > span{font-size: 30px !important;}
#timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-days,
#timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-hours,
#timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-minutes,
#timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-secundes
{font-size: 16px !important;}
.timer-separator{padding: 10px !important;}
/*___________________MOB MENU_____________________*/
#mob-wrapper{
 /* display: none;*/
  .mob-menu{
    position: fixed;
    top: 110px;
    right: 10px;
    height: 50px;
    width: 50px;
    background: url(../images/mob-menu-ico.png) no-repeat;
    cursor: pointer;
    z-index: 100001;
  }
  .mob-nav{
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 100000;
    margin-top: 9px;
    background: $bg-menu;
    ul{
      padding: 15px 0 15px 0;
      margin: auto;
      display: block;
      li{
        text-align: center;
        display: block;
        a{
          font-size: 10px;
        }
      }
    }
  }
}

/*______________MEDIA_______________________*/

@media (max-width: 1280px) {
  header{
    .top-part{
      padding-right: 15px;
      .top-right{
        .address{
          float: right;
          width: 190px;
          margin-left: 40px;
        }
        .phone{
          float: right;
        }
      }
    }
  }
  .contacts{
    .map{
      .contact-container{
        .contact-us > div{
          font-size: 17px;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  /*hovers*/
  header{
    a:hover{
      text-decoration: underline;
      opacity: 0.5;
    }
  }
  nav{
    li{
      a:hover{
        opacity: 0.5;
        text-decoration: underline;
      }
    }
  }
  .nav-fixed{
    a:hover{
      text-decoration: underline;
    }
  }
  .contacts{
    a:hover{
      text-decoration: underline;
      opacity: 0.5;
    }
  }
  .work-scheme{
    a:hover{
      text-decoration: underline;
    }
  }
}
@media (max-width: 1024px) {
  .nav-fixed{
    nav{
      ul{
        li{
          a{
              font-size: 13px;
          }
        }
      }
    }
  }
  .container{
    padding: 0 15px;
  }
  header{
    .top-part{
      nav{
        ul{
          li{
           a{
             font-size: 11px;
             padding: 5px;
           }
          }
        }
      }
      .top-right{
        .address{
          width: 190px;
          margin-left: 20px;
        }
        .phone{
          font-size: 25px;
        }
      }
    }
  }
  .timer-flipchart-face{
    font-size: 24px !important;
  }
  #timereba8b465b67fc1fe4127bfd98fc02f4d{
    margin-top: 20px;
    margin-left: -240px;
    min-width: 355px !important;
    height: 65px !important;
  }
  .timer-element > span{font-size: 24px !important;}
  #timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-days,
  #timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-hours,
  #timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-minutes,
  #timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-secundes
  {font-size: 12px !important;}
  .timer-separator{padding: 7px !important;}
  .production{
    .product-slider{
      img{
        width: 260px;
      }
      .slick-prev{
        left: 287px;
        top:150px;
      }
      .slick-next{
        right: 287px;
        top:150px;
      }
    }
  }
  .work-scheme{
    .arrow-bottom{
      img{
        width: 50%;
      }
    }
    .work-content-wrap{
      .content{
        margin-left: 100px;
      }
    }
  }
  .partners{
    .f-line, .s-line, .t-line{
      padding-bottom: 60px;
    }
  }
  .contacts{
    .map{
      .contact-container{
        width: 45%;
        top:70px;
        .contact-us > div{
          font-size: 14px;
        }
      }
      iframe{
        height:450px;
      }
    }
  }
}
@media (max-width: 800px) {
  .nav-fixed{
    a{
      font-size: 18px;
    }
    nav{
      margin-top: 29px;
      ul{
        padding: 0;
        li{
          a{
            padding: 3px;
            font-size: 11px;
          }
        }
      }
    }
    .top-right{
      .phone{
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .recall{
        a{
          width: 123px;
          line-height: 16px;
          font-size: 11px;
        }
      }
    }
  }
  .title{
    font-size: 34px;
  }
  .timer-flipchart-face{
    font-size: 12px !important;
  }
  #timereba8b465b67fc1fe4127bfd98fc02f4d{
    margin-top: 20px;
    margin-left: -175px;
    min-width: 250px !important;
    height: 65px !important;
  }
  .timer-element > span{font-size: 10px !important;}
  #timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-days,
  #timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-hours,
  #timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-minutes,
  #timer-text-eba8b465b67fc1fe4127bfd98fc02f4d-secundes
  {font-size: 12px !important;}
  .timer-separator{padding: 5px !important;}
  header{
    .possibilities{
      font-size: 17px;
      .possibility{
        .text{
          /*width: 150px;*/
        }
      }
      .geo{
        .text{
          padding-top: 1px;
        }

      }
    }
    .wrapper{
      .pull-left{
        .left-inner{
          font-size: 19px;
        }
        .last{
          padding-top: 30px;
        }
      }
      .pull-right{
        .right-inner{
          font-size: 19px;
        }
      }
    }
    .top-part{
      nav{
        ul{
          li{
            a{
              font-size: 9px;
            }
          }
        }
      }
      .top-right{
        .address{
          width: 153px;
          margin-left: 9px;
          font-size: 13px;
        }
        .phone{
          font-size: 20px;
        }
      }
    }
  }
  .production{
    .product-slider{
      img{
        padding-right: 80px;
      }
      .slick-next{
        right: 280px;
        top: 94px;
      }
      .slick-prev{
        left: 195px;
        top: 94px;
      }
    }
  }
  .work-scheme{
    .work-content-wrap{
      width: 35%;
      margin-right: 100px;
    }
  }
  .quality{
    .rules{
      .rule1{
        span{
          padding-left: 50px;
        }
        img{
          width: 73%;
        }
      }
    }
    .fancy-images{
      a{
        margin-left: 70px;
      }
    }
  }
  .partners{
    a{
      margin-right: 1px;
      margin-left: 26px;
    }
    img{
      width: 75%;
    }
    .f-line, .s-line, .t-line{
      padding-bottom: 150px;
      width: 100%;
    }
    .f-line{
      a{
       /* margin-left: 30px;
        margin-right: 20px;*/
      }
    }
    .s-line{
      a{
       /* margin-left: 30px;
        margin-right: 55px;*/
        margin-right: 35px;
      }
    }
    .t-line{
      padding-left: 150px;
      a{
        margin-right: 80px;
      }
    }
  }
  .contacts{
    .map{
      .contact-container{
        top:10%;
        .contact-us > div{
          font-size: 9px;
        }
      }
    }
  }
}
@media (max-width:320px){
  .nav-fixed{
    .logo{
      max-width: 45%;
      margin-top: 20px;
      img{
        width: 100%;
      }
    }
    .top-right{
      width: 45%;
      float: right;
      margin-top: -90px;
    }
    nav{
      ul{
        display: none;
      }
    }
  }
  .title{
    font-size: 21px;
    margin-bottom: 45px;
  }
  header{
    padding-bottom: 75px;
    .container{
      padding: 0;
    }
    .top-part{
      .logo{
        img{
          width: 150%;
          padding-left: 15px;
        }
      }
      nav{
        ul{
          display: none;
        }
      }
      .top-right{
        float: right;
        width: 35%;
        .phone{
          font-size: 15px;
        }
        .address{
          text-align: right;
        }
      }
    }
    .wrapper{
      .pull-left,.pull-right{
        float: none;
        min-height: 0;
        width: 100%;
      }
      .pull-left{
        &:last-child{
          margin: 30px 0 50px 0;
        }
        .left-inner{
          font-size: 12px;
          float: none;
          margin: 0 auto;
          text-align: center;
          width: 185px;
        }
      }
      .pull-right{
        margin-top: 30px;
        .right-inner{
          font-size: 12px;
        }
      }
    }
    .possibilities{
      .possibility{
        display: block;
        width: 100%;
        img{
          width: 15%;
        }
        .text{
          overflow: inherit;
          font-size: 11px;
        }
      }
    }
  }
  .production{
    .product-slider{
      img{
        width: 190px;
        margin-left: 60px;
        padding: 0;
      }
      .t-short{
        margin-right: 50px;
      }
      .slick-prev{
        left: 10px;
        top: 115px;
      }
      .slick-next{
        right: 10px;
        top: 115px;
      }
    }
  }
  .prices{
    table{
      font-size: 10px;
      tr, td, th{
        padding: 10px 0 10px 0;
      }
    }
    .information{
      font-size: 10px;
    }
  }
  .work-scheme{
    .work-content-wrap{
      img{
        width: 60%;
      }
      .content{
       font-size: 11px;
        margin-left: 75px;
        width: 155px;
      }
    }
    .information{
      font-size: 10px;
      width: 100%;
    }
  }
  .quality{
    .description{
      width: 100%;
      padding: 15px;
      font-size: 15px;
      .rules{
        padding-bottom: 10px;
        .rule{
          margin-bottom: 25px;
          span{
            padding: 0;
            margin: 0;
            font-size: 12px;
          }
        }
        .rule1{
          img{
            width: 100%;
          }
          span{
            padding-left: 39px;
          }
        }
        .rule4{
          margin-left: -40px;
          img{
            margin-left: 29px;
          }
          span{
            padding-right: 30px;
          }
        }
      }
    }
    .fancy-images{
      a{
        margin-left: 22px;
      }
    }
  }
  .partners{
    a{
      display: block;
      margin-left: 100px;
      margin-bottom: 50px;
    }
    img{
      width: 55%;
    }
    .f-line, .s-line, .t-line{
        padding: 0;
        margin: 0;
    }
    .t-line{
      margin: 0 auto;
      padding-bottom: 10px;
      img{
        width: 85%;
        margin-left: 25px;
      }
      a{
        margin-left: 50px;
      }
    }
  }
  .contacts{
    .map{
      .contact-container{
        width: 100%;
      }
    }
  }
  footer{
    img{
      width: 100%;
    }
  }
}
