* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", serif;
  background: #c2c2c2; }

img {
  /* width: 100%;*/
  height: auto;
  width: auto\9;
  /* ie8 */ }

a {
  text-decoration: none;
  color: #000000; }

.container {
  width: 93%;
  margin: 0 auto;
  padding: 30px;
  background: #ffffff; }
  .container::after {
    content: '';
    display: block;
    clear: both; }

button {
  background: #10c9c3;
  border: none;
  color: #e5e5e5; }

/*___________________TEXT BLOCK___________________*/
.text-block {
  padding-top: 120px; }
  .text-block .hazy, .text-block .italic {
    text-align: center; }
  .text-block .hazy {
    text-transform: uppercase;
    font-size: 69px; }
  .text-block .italic {
    font-style: italic;
    color: #a3a3a3;
    font-size: 24px; }
  .text-block .new-arrivals {
    padding-top: 55px;
    padding-bottom: 100px;
    text-align: center; }
    .text-block .new-arrivals .arrival-btn {
      border: 1px solid #a3a3a3;
      width: 230px;
      height: 58px;
      background: none;
      color: #303030; }

/*_________________________GALLERY PRODUCTS_______________*/
.gallery-products {
  padding-bottom: 100px; }
  .gallery-products::after {
    content: '';
    display: block;
    clear: both; }
  .gallery-products .row1 .text, .gallery-products .row2 .text {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .gallery-products .row1 .pr-name, .gallery-products .row2 .pr-name {
    font-weight: bold;
    font-size: 24px; }
  .gallery-products .row1 .desc, .gallery-products .row2 .desc {
    font-style: italic;
    font-size: 18px; }
  .gallery-products .row1 .item, .gallery-products .row2 .item {
    color: #e5e5e5;
    float: left;
    width: 25%;
    height: 290px;
    background: #e5e5e5;
    /*&:nth-child(even){
      background: #303030;
      text-align: center;
    }*/ }
  .gallery-products .row1 .item:nth-child(even) {
    background: #303030;
    text-align: center; }
  .gallery-products .row2 .item {
    /* &:nth-child(even){
       background: #e5e5e5;
     }*/ }
    .gallery-products .row2 .item:nth-child(odd) {
      background: #303030;
      text-align: center; }
    .gallery-products .row2 .item:last-child:after {
      content: '';
      display: block;
      clear: both; }

/*_________________________SIGN UP_______________*/
.sign-up .title {
  text-transform: uppercase;
  font-size: 34px;
  font-weight: bold;
  text-align: center; }
.sign-up .subtitle-italic {
  font-style: italic;
  text-align: center;
  font-size: 24px;
  color: #a3a3a3;
  padding-top: 15px; }
.sign-up .email-form {
  width: 100%;
  padding-top: 35px;
  padding-bottom: 100px;
  text-align: center; }
  .sign-up .email-form input {
    padding: 20px 10px;
    /* width: 480px;*/
    width: 85%; }
    .sign-up .email-form input[placeholder] {
      font-size: 11px;
      font-style: italic; }
  .sign-up .email-form button {
    /*width: 94px;*/
    width: 15%;
    height: 56px;
    margin-left: -4px; }

/*________________________PRODUCT SLIDER_______________*/
.product-slider {
  position: relative;
  padding-bottom: 50px; }
  .product-slider .pr-slider {
    background: #a3a3a3;
    padding: 9px 0;
    height: 118px; }
    .product-slider .pr-slider .photo {
      height: 100px;
      width: 100px;
      background: #000;
      margin-right: 30px; }
  .product-slider .arrows {
    background: #c2c2c2; }
    .product-slider .arrows .prev, .product-slider .arrows .next {
      width: 80px;
      height: 128px;
      cursor: pointer; }
    .product-slider .arrows .prev {
      background: url("../img/product-slider/slide-arw.png") no-repeat 0 0;
      position: absolute;
      top: -3%; }
    .product-slider .arrows .next {
      background: url("../img/product-slider/slide-arw.png") no-repeat -48px 0;
      position: absolute;
      right: 0;
      top: -3%; }

/*
@media (min-width: 1024px) {
  !*hovers*!
  header{
    nav{
      a:hover{
        opacity: 0.5;
      }
    }
    .loupe:hover{
      background: #e5e5e5;
    }
  }
  .text-block{
    .arrival-btn:hover{
      background: #e5e5e5;
    }
  }
  !*.sign-up{
    .email-form{
      button:hover{
        cursor: pointer;
        background: #f68236;
      }
    }
  }*!
  button:hover{
    cursor: pointer;
    background: #f68236;
  }
  footer{
    .social{
      .tw:hover, .fb:hover, .inst:hover{
        background: #e5e5e5;
        cursor: pointer;
      }
    }
    ul{
      li{
        a:hover{
          opacity: 0.5;
        }
      }
    }
  }
}*/

/*# sourceMappingURL=main.css.map */
