.container{
    border: 1px solid yellowgreen;
    width: 250px;
    height: 100px;
    margin-top: 20px;
    font: italic 30px serif;
    text-align: center;
}
.number{
   border-top: 1px solid blue;
    line-height: 100px;
}

/*
span{
    vertical-align: -35px;
}*/
