.item-list{
     background: #68ebff;
}

.pager {
    width:auto;
    height: 25px;
    border-bottom: 4px solid #1bbeff;
}

.pager li{
    display: inline-block;
    text-align: center;
    line-height: 25px;
    width: 35px;
    list-style: none;
    margin-right: -4px;
}

.pager-current{
    background: #ffb5bd;
    border-bottom: 4px solid #ff5d5f;
}

a{
    text-decoration: none;
    color: #000000;
}
